* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;

  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    border-left: 1px solid @mainColor;
    border-right: 1px solid @mainColor; 
    // background: @mainColor;
  }
