
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #53b8de	;

    @media(max-width: 650px) {
        flex-direction: column;
    }

    h1 {
        font-size: 5rem;
        
    }

    nav {
        
        
        @media(max-width: 650px){
            display: flex;
            flex-direction: column;
        }
        a {
            padding: 0 10px 0 10px;
            text-decoration: none;
            color: black;
            font-size: 2rem;
            

            @media(max-width: 650px){
                padding: 10px 0;
                margin: 0 auto;
                
            }
        }
    }
}