
header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: #53b8de	;

    h1 {
        font-size: 5rem;
        padding-left: 30px;
    }

    nav {
        padding-right: 30px;
        a {
            padding: 0 10px 0 10px;
            text-decoration: none;
            color: @navColor;
            font-size: 2rem;
        }
    }
}