.banner {
    width: 100%;
    background-image: url("https://images.pexels.com/photos/248833/pexels-photo-248833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 800px;

    .bannerContent{
        padding-top: 200px;
        text-align: center;
        
        h2 {
            font-size: 5rem;
            color: white;
            text-align: center;
            margin-bottom: 30px;
        }

    
        .loginBtn {
            color: white;
            height: 40px;
            width: 150px;
            font-size: 2rem;
            border: 2px solid white;
            margin: 0 auto;
            border-radius: 5%;
            margin-top: 30px;
            
            
            p {
                padding-top: 9px;
            }
        }

    }
}