.banner {
    width: 100%;
    background-image: url("https://images.pexels.com/photos/248833/pexels-photo-248833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 720px;

    .bannerContent{
        padding-top: 200px;
        text-align: center;
        
        h2 {
            font-size: 5rem;
            color: white;
            text-align: center;
            margin-bottom: 30px;
        }

    
        .loginBtn {
            color: white;
            height: 40px;
            width: 150px;
            font-size: 3rem;
            border: 2px solid white;
            margin: 0 auto;
            border-radius: 7%;
            margin-top: 30px;
            
            
            p {
                padding-top: 4px;
            }
        }

    }
}




    .topContentContainer {
        width: 95%;
        margin: 0 auto;

        .topContentH2{
            font-size: 4rem;
            text-align: center;
            margin: 40px 0;
        }

        .topBoxDisplay{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .box1 {
                border-right: 1px solid lightgrey;
                border-bottom: 1px solid lightgrey;
            }

            .box2 {
                border-bottom: 1px solid lightgrey;
            }

            .box3 {
                border-right: 1px solid lightgrey;
            }

            .topContentBox {
                
                width: 45%;
                padding: 35px;
                h3 {
                 font-size: 2.4rem;
                 margin-bottom: 7px;
                 color: #53b8de;
                }
    
                p {
                    font-size: 1.7rem;
                    line-height: 2.5rem;
                }
            }
        }
    }